<div class="join-form">

  <div class="team-name">


    <h2>Choose your team name...</h2>

    <form action="/join" method="POST" id="form-container">

      <input class="form-control" id="name" type="text" name="name" placeholder="Team Name">

      <br>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}

      <br><br>


  </div>


  <div class="players-form">
    <input class="form-control" id="playername" type="text" name="playername" placeholder="Player 1">
    <input class="form-control" id="playername" type="text" name="playername" placeholder="Player 2">
    <input class="form-control" id="playername" type="text" name="playername" placeholder="Player 3">
    <input class="form-control" id="playername" type="text" name="playername" placeholder="Player 4">
    <input class="form-control" id="playername" type="text" name="playername" placeholder="Player 5">
    <input class="form-control" id="playername" type="text" name="playername" placeholder="Player 6">


  </div>

  <button class="btn btn-dark ">Enter the Room</button>
  </form>
</div>