<h1 class='text-center'>Change the url according to the result of this javascript expression:</h1>
<h2 class='text-center'>("Ba" + Infinity/Infinity + "a").toLowerCase()</h2>

<form method="post">
  <input type="text" name="fruit" maxlength="6">
  <button>Send</button>
</form>