<div class="bridge-of-truth">

  <div class="number">

    <h1>42</h1>

  </div>

  <div class="bridge-form">
    <form class="players-form" method="POST">
      <input class="form-control" type="text" name="truth" id="truth">
    </form>
  </div>
  <div class="string">


    <h1>"42"</h1>
  </div>
</div>