<style>
  .robin {
    position: relative;
    text-align: center;
  }

  .robin img {
    width: 800px;
  }

  .robin input {
    position: absolute;
    height: 18px;
    width: 18px;
    font-size: 14px;
    text-align: center;
    border-radius: 18px;
    border: 2px solid black;
  }

  .robin button {
    border: 2px solid black;
    background: white;
    font-weight: bold;
    border-radius: 20px;
    font-size: 20px;
    padding: 6px 10px;
    margin-top: 20px;
  }

  .robin input[type=number]::-webkit-inner-spin-button, .robin input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  .robin input[name="41"] {
    top: 160px;
    left: 644px;
  }
  .robin input[name="35"] {
    top: 120px;
    left: 664px;
  }
  .robin input[name="28"] {
    top: 110px;
    left: 584px;
  }
  .robin input[name="17"] {
    top: 165px;
    left: 550px;
  }
  .robin input[name="12"] {
    top: 33px;
    left: 650px;
  }
  .robin input[name="5"] {
    top: 253px;
    left: 724px;
  }
</style>

<div class="robin">
  <form method="post">
    <img src="/images/target-robin-hood.png" alt="target">
    <input type="text" name="41">
    <input type="text" name="35">
    <input type="text" name="28">
    <input type="text" name="17">
    <input type="text" name="12">
    <input type="text" name="5">
    <br>
    <button type="submit">Shoot</button>
  </form>
</div>