<h3>No need to be too formal.</h3>
<h3>If you don't <u>get</u> it, just <u>post</u> it!</h3>

<form method="get">
  <input type="text" name="test" value="Fix the form and click send =>">
  <button>Send</button>
</form>