<div class="high-scores-container">

  <div class="title">
    <h2>
      High Scores

    </h2>
  </div>

  <div class="tables-container">

    <div class="global-scores">
      <h4>Global</h4>


      <table style="width:100%">
        <tr>
          <th>Team</th>
          <th>Participants</th>
          <th>Room</th>
        </tr>
        <tr>

          <td>Team ABC</td>
          <td>Team ABD</td>
          <td>Team ADE</td>

        </tr>
        <tr>
          <td>Tom, Dick, Harry</td>
          <td>Jackson</td>
          <td>94</td>
        </tr>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>80</td>
        </tr>
      </table>

    </div>
    <div class="today-scores">
      <h4>Today</h4>

    </div>
  </div>
</div>