<div class="home-page">


  <h1>WELCOME TO THE IRONROOM</h1>

  <img src="https://www.refreshmiami.com/wp-content/uploads/2018/07/55085_logo-ironhack.png" alt="55085_logo-ironhack"
    title="55085_logo-ironhack" style="max-height:400px;margin:0 auto;" draggable="false">

  <a href="/join">

    <button class="btn btn-dark">Create Your Team</button>
  </a>
</div>