@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
body {
  font: 14px "Roboto Mono", Helvetica, Arial, sans-serif;
  background-color: #dddddd;
  overflow: hidden; }

a {
  color: #00b7ff; }

.border-right-nbs td {
  border-right: 2px solid black; }

#timer {
  font-size: 2rem;
  color: white; }

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 54px); }
  .home-page > * {
    padding: 30px 0; }

.join-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px; }
  .join-form .team-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .join-form .team-name h2 {
      font-size: 36px; }
    .join-form .team-name input {
      width: 40rem;
      background: #ffffff;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 5px;
      margin: 10px;
      text-align: center; }
  .join-form .players-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .join-form .players-form input {
      width: 40rem;
      background: #ffffff;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 5px;
      margin: 10px;
      text-align: center; }

.high-scores-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem; }
  .high-scores-container h2 {
    font-size: 3rem; }
  .high-scores-container .tables-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto Mono;
    font-style: normal;
    line-height: normal;
    font-size: 18px;
    flex-direction: row;
    width: 100%;
    justify-content: space-around; }
    .high-scores-container .tables-container .scores {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

.rooms-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: calc(100vh - 54px); }
  .rooms-body .body {
    width: calc(100vw - 300px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .rooms-body .chat-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c4c4c4;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 300px;
    height: 100%;
    overflow: hidden; }
    .rooms-body .chat-box .chat-area {
      overflow: auto;
      max-height: calc(100% - 70px);
      align-self: flex-start;
      padding-right: 17px;
      /* Increase/decrease this value for cross-browser compatibility */
      box-sizing: content-box;
      /* So the width will be 100% + 17px */ }
    .rooms-body .chat-box .chat-input {
      width: 100%; }
      .rooms-body .chat-box .chat-input #chatInput {
        width: 100%; }

::-webkit-scrollbar {
  display: none; }

/*# sourceMappingURL=style.css.map */