@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

//  Variables
$nav-height: 54px;
$window-height: calc(100vh - 54px);

body {
  font: 14px "Roboto Mono", Helvetica, Arial, sans-serif;
  background-color: rgb(221, 221, 221);
  overflow: hidden;
}

a {
  color: #00b7ff;
}

.border-right-nbs {
  td {
    // border-right: 2px solid black;
  }
}
@mixin flex-props {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin form-props {
  width: 40rem;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

@mixin font-props {
  font-family: Roboto Mono;
  font-style: normal;
  line-height: normal;
  font-size: 18px;
}

#timer {
  font-size: 2rem;
  color: white;
}

.home-page {
  @include flex-props();
  height: $window-height;

  
}

.join-form {
  @include flex-props();
  margin-top: 130px;

  .team-name {
    @include flex-props();

    h2 {
      font-size: 36px;
    }
    input {
      @include form-props();
    }
  }
  .players-form {
    @include flex-props();

    input {
      @include form-props();
    }
  }
}

.high-scores-container {
  @include flex-props();
  margin: 4rem;

  h2 {
    font-size: 3rem;
  }

  .tables-container {
    @include flex-props();
    @include font-props();
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    .scores {
      margin-top: 30px;
      @include flex-props();
    }
  }
}

.rooms-body {
  @include flex-props();
  flex-direction: row;
  height: $window-height;

  .body {
    width: calc(100vw - 300px);
    height: 100%;
    @include flex-props();
  }

  .chat-box {
    @include flex-props();
    background-color: #c4c4c4;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 300px;
    height: 100%;
    overflow: hidden;

    .chat-area {
      overflow: auto;
      max-height: calc(100% - 70px);
      align-self: flex-start;
      padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
      box-sizing: content-box; /* So the width will be 100% + 17px */
    }

    .chat-input {
      width: 100%;

      #chatInput {
        width: 100%;
      }
    }
  }
}

.buttons {
  margin: 60px 0;
}

::-webkit-scrollbar {
  display: none;
}

